<div class="parameter-row-container" *ngIf="parameter && controlName">
    <!-- Boolean Type -->
    <ng-container *ngIf="isBoolean()">
        <mat-checkbox
            [formControlName]="controlName"
            [name]="getSafeName() + '_checkbox'"
            class="parameter-checkbox"
            [id]="parameter.path + '-checkbox'"
            [matTooltip]="parameter.description || 'No description available'"
            matTooltipPosition="above">
            {{ parameterName }}
            <span *ngIf="parameter.required === 'Yes'" class="required-indicator">*</span>
        </mat-checkbox>
    </ng-container>

    <!-- Number, Text or other Types -->
    <ng-container *ngIf="!isBoolean()">
        <mat-form-field class="parameter-input-field" appearance="outline"
            [matTooltip]="parameter.description || 'No description available'" matTooltipPosition="above">
            <mat-label>
                {{ parameterName }}
                <span *ngIf="parameter.required === 'Yes'" class="required-indicator">*</span>
            </mat-label>

            <input *ngIf="isNumber()" matInput type="number"
                [formControlName]="controlName"
                [name]="getSafeName() + '_input_number'"
                [id]="parameter.path + '-input-number'"
                [required]="parameter.required === 'Yes'">
            <input *ngIf="isStringOrOther()" matInput type="text"
                [formControlName]="controlName"
                [name]="getSafeName() + '_input_text'"
                [id]="parameter.path + '-input-text'"
                [required]="parameter.required === 'Yes'">

            <mat-error *ngIf="currentFormControl?.invalid && currentFormControl?.touched">
                <span *ngIf="currentFormControl?.hasError('required')">This field is required.</span>
                <!-- Add other error messages as needed, e.g., for min, max, pattern -->
            </mat-error>
        </mat-form-field>
    </ng-container>
</div>