<div class="parameter-row-container" *ngIf="parameter && formControl">
    <!-- Boolean Type -->
    <ng-container *ngIf="isBoolean()">
        <mat-checkbox 
            [formControl]="formControl" 
            class="parameter-checkbox" 
            [id]="parameter.path + '-checkbox'"
            [name]="parameter.path" 
            [matTooltip]="parameter.description || 'No description available'" 
            matTooltipPosition="above">
            {{ parameterName }}
            <span *ngIf="parameter.required === 'Yes'" class="required-indicator">*</span>
        </mat-checkbox>
    </ng-container>

    <!-- Number, Text or other Types (handled by mat-form-field) -->
    <ng-container *ngIf="!isBoolean()">
        <mat-form-field class="parameter-input-field" appearance="outline"
            [matTooltip]="parameter.description || 'No description available'" matTooltipPosition="above">
            <mat-label>
                {{ parameterName }}
                <span *ngIf="parameter.required === 'Yes'" class="required-indicator">*</span>
            </mat-label>

            <input *ngIf="isNumber()" matInput type="number" 
                [formControl]="formControl" 
                [name]="parameter.path" 
                [id]="parameter.path + '-input-number'" 
                [required]="parameter.required === 'Yes'">
            <input *ngIf="isStringOrOther()" matInput type="text" 
                [formControl]="formControl" 
                [name]="parameter.path" 
                [id]="parameter.path + '-input-text'" 
                [required]="parameter.required === 'Yes'">

            <mat-error *ngIf="formControl.invalid && formControl.touched">
                <span *ngIf="formControl.hasError('required')">This field is required.</span>
            </mat-error>
        </mat-form-field>
    </ng-container>
</div>