# Ignore code we received as template
src/app/classes/*
src/app/components/*
src/app/services/*
src/app/reference-models/*

# Ignore environments config
src/environments/*.ts

# Ignore example petrinets
src/assets/*.json
src/assets/*.pnml

# Ignore json config files on root level
*.json

# Ignore readme
README.md

# Ignore place invariant table file, as formatting introduces
# white space that becomes rendered as leading white space in
# the table header <h2>
src/app/tr-components/place-invariants-table/place-invariants-table.component.html
