<div fxLayout="row" fxLayoutAlign="space-between center">
    <h2 mat-dialog-title>An error occured</h2>

    <button mat-dialog-close mat-icon-button class="close-button">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div mat-dialog-content>
    <p *ngIf="data.parsingError">
        Error while parsing, please check that the syntax of your petrinet is
        correct.
    </p>
    <p *ngIf="data.parsingError">
        {{ data.parsingError }}
    </p>
    <p *ngIf="data.schemaValidationErrors">
        Error while validating the schema of your imported data, please check
        that the semantics of your importet petrinet are correct.
    </p>
    <ul *ngIf="data.schemaValidationErrors">
        <li *ngFor="let error of data.schemaValidationErrors | keyvalue">
            {{ error.key }}: {{ error.value }}
        </li>
    </ul>
</div>
