.button-container {
    display: inline-flex;
    height: 50px;
}

.float-right {
    float: right;
}

.divider {
    border-right: 2px solid grey;
    height: 30px;
    margin: auto 10px;
}

.text-button {
    margin: auto 5px;
}

.button-container .text-button:first-child {
    margin-left: 0;
}

.button-container .text-button:last-child {
    margin-right: 0;
}

.button-text-label {
    font-size: 10px; /* Adjust as needed */
    display: block;
    margin-top: -2px; /* Adjust as needed */
}

::ng-deep .mat-tooltip {
    font-size: 14px !important; /* Adjust as needed */
}
