<mat-tab-group (selectedTabChange)="tabClicked($event.tab.textLabel)">
    <mat-tab label="build">
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">edit</mat-icon>
            Build
        </ng-template>

        <!-- Buttons for tab "Build" -->
        <div class="button-container">
            <!-- Divider -->
            <div class="divider"></div>

            <!-- Blitz tool -->
            <button
                mat-icon-button
                [color]="
                    uiService.button === ButtonState.Blitz ? 'primary' : ''
                "
                (click)="buttonClicked(ButtonState.Blitz)"
                matTooltip="Multi-tool: Create, connect, edit, or delete elements."
                [matTooltipShowDelay]="showTooltipDelay"
            >
                <mat-icon>bolt</mat-icon>
            </button>

            <!-- Divider -->
            <div class="divider"></div>

            <!-- Places -->
            <button
                mat-icon-button
                [color]="
                    uiService.button === ButtonState.Place ? 'primary' : ''
                "
                (click)="buttonClicked(ButtonState.Place)"
                matTooltip="Add a new place."
                [matTooltipShowDelay]="showTooltipDelay"
            >
                <mat-icon>circle</mat-icon>
            </button>

            <!-- Transitions -->
            <button
                mat-icon-button
                [color]="
                    uiService.button === ButtonState.Transition ? 'primary' : ''
                "
                (click)="buttonClicked(ButtonState.Transition)"
                matTooltip="Add a new transition."
                [matTooltipShowDelay]="showTooltipDelay"
            >
                <mat-icon>square</mat-icon>
            </button>

            <!-- Arcs -->
            <button
                mat-icon-button
                [color]="uiService.button === ButtonState.Arc ? 'primary' : ''"
                (click)="buttonClicked(ButtonState.Arc)"
                matTooltip="Add an arc to connect places and transitions."
                [matTooltipShowDelay]="showTooltipDelay"
            >
                <mat-icon>north_east</mat-icon>
            </button>

            <!-- Anchor points -->
            <button
                mat-icon-button
                [color]="
                    uiService.button === ButtonState.Anchor ? 'primary' : ''
                "
                (click)="buttonClicked(ButtonState.Anchor)"
                matTooltip="Add anchor point to an existing arc to reshape."
                [matTooltipShowDelay]="showTooltipDelay"
            >
                <mat-icon>linear_scale</mat-icon>
            </button>

            <!-- Divider -->
            <div class="divider"></div>

            <!-- Add token tool -->
            <button
                mat-icon-button
                [color]="uiService.button === ButtonState.Add ? 'primary' : ''"
                (click)="buttonClicked(ButtonState.Add)"
                matTooltip="Increase place tokens or arc weight."
                [matTooltipShowDelay]="showTooltipDelay"
            >
                <mat-icon>add</mat-icon>
            </button>

            <!-- Remove token tool -->
            <button
                mat-icon-button
                [color]="
                    uiService.button === ButtonState.Remove ? 'primary' : ''
                "
                (click)="buttonClicked(ButtonState.Remove)"
                matTooltip="Decrease place tokens or arc weight (min. 1)."
                [matTooltipShowDelay]="showTooltipDelay"
            >
                <mat-icon>remove</mat-icon>
            </button>

            <!-- Delete tool -->
            <button
                mat-icon-button
                [color]="
                    uiService.button === ButtonState.Delete ? 'primary' : ''
                "
                (click)="buttonClicked(ButtonState.Delete)"
                matTooltip="Delete a single selected element (node, arc, anchor)."
                [matTooltipShowDelay]="showTooltipDelay"
            >
                <mat-icon>delete</mat-icon>
            </button>

            <!-- Clear all tool -->
            <button
                mat-icon-button
                [color]="
                    uiService.button === ButtonState.Clear ? 'primary' : ''
                "
                (click)="openClearDialog()"
                matTooltip="Delete the entire current net."
                [matTooltipShowDelay]="showTooltipDelay"
            >
                <mat-icon>clear</mat-icon>
            </button>

            <!-- Divider -->
            <div class="divider"></div>

            <!-- Move tool -->
            <button
                mat-icon-button
                [color]="uiService.button === ButtonState.Move ? 'primary' : ''"
                (click)="buttonClicked(ButtonState.Move)"
                matTooltip="Move elements or pan the entire net."
                [matTooltipShowDelay]="showTooltipDelay"
            >
                <mat-icon>open_with</mat-icon>
            </button>

            <!-- Divider -->
            <div class="divider"></div>

            <!-- Select tool -->
            <button
                mat-icon-button
                [color]="
                    uiService.button === ButtonState.Select ? 'primary' : ''
                "
                (click)="buttonClicked(ButtonState.Select)"
                matTooltip="Assign or change an action label for a transition."
                [matTooltipShowDelay]="showTooltipDelay"
            >
                <mat-icon>ads_click</mat-icon>
            </button>

            <!-- Customize actions tool -->
            <button
                mat-icon-button
                (click)="openActionDialog()"
                matTooltip="Manage available action labels (create, edit, delete)."
                [matTooltipShowDelay]="showTooltipDelay"
            >
                <mat-icon>edit_note</mat-icon>
            </button>

            <!-- Divider -->
            <div class="divider"></div>

            <!-- Upload PNML Button -->
            <input
                type="file"
                hidden
                #pnmlFileInput
                (change)="uploadPnmlFile($event)"
                accept=".pnml"
            />
            <button
                mat-stroked-button
                class="text-button"
                (click)="pnmlFileInput.click()"
                matTooltip="Upload a net from a PNML file."
                [matTooltipShowDelay]="showTooltipDelay"
            >
                Upload PNML
            </button>
        </div>

        <div class="button-container float-right">
            <!-- Apply Spring Embedder layout (once) -->
            <button
                mat-stroked-button
                class="text-button"
                (click)="applyLayout('spring-embedder')"
                matTooltip="Rearrange net for lowest edge crossings."
                [matTooltipShowDelay]="showTooltipDelay"
            >
                Spring Embedder
            </button>

            <!-- Apply Sugiyama layout (once) -->
            <button
                mat-stroked-button
                class="text-button"
                (click)="applyLayout('sugiyama')"
                matTooltip="Rearrange net for lower edge crossings."
                [matTooltipShowDelay]="showTooltipDelay"
            >
                Sugiyama
            </button>

            <button
                mat-icon-button
                (click)="openHelpDialog()"
                matTooltip="Show help page for 'Build' mode"
                [matTooltipShowDelay]="showTooltipDelay"
            >
                <mat-icon>help</mat-icon>
            </button>
        </div>
    </mat-tab>

    <mat-tab label="play">
        <ng-template mat-tab-label>
            <mat-icon>play_arrow</mat-icon>
            Play
        </ng-template>
        <app-playback-controls 
            [isPlaying]="isPlaying"
            [currentStep]="currentStep"
            [isHistoryEmpty]="tokenGameService.isGameHistoryEmpty()"
            (play)="play()"
            (pause)="pause()"
            (stop)="stop()"
            (restart)="tokenGameService.resetGame()"
            (rewind)="tokenGameService.revertToPreviousState()">
        </app-playback-controls>
    </mat-tab>

    <mat-tab label="analyze">
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">functions</mat-icon>
            Analyze
        </ng-template>

        <!-- Buttons for tab "Analyze" -->
        <div class="button-container">
            <!-- Place invariants (Farkas) -->
            <button
                mat-stroked-button
                class="text-button"
                (click)="
                    placeInvariantsService.calculatePIs();
                    openPlaceInvariantsTable()
                "
                matTooltip="Calculate and show all place invariants (Farkas)."
                [matTooltipShowDelay]="showTooltipDelay"
            >
                Place Invariants (Farkas)
            </button>

            <!-- Minimal place invariants -->
            <button
                mat-stroked-button
                class="text-button"
                (click)="
                    placeInvariantsService.calculatePIs();
                    placeInvariantsService.removeNonMinimalPIs();
                    openPlaceInvariantsTable()
                "
                matTooltip="Calculate and show only minimal place invariants."
                [matTooltipShowDelay]="showTooltipDelay"
            >
                Minimal Place Invariants
            </button>

            <!-- Divider -->
            <div class="divider"></div>

            <!-- Linear combination of place invariants -->
            <button
                mat-stroked-button
                class="text-button"
                [disabled]="!placeInvariantsService.placeInvariantsMatrix"
                (click)="
                    placeInvariantsService.showLCTable = true;
                    openPlaceInvariantsTable()
                "
                matTooltip="Select calculated invariants for linear combination display."
                [matTooltipShowDelay]="showTooltipDelay"
            >
                Linear Combination
            </button>
        </div>

        <div class="button-container float-right">
            <button
                mat-icon-button
                (click)="openHelpDialog()"
                matTooltip="Show help page for 'Analyze' mode"
                [matTooltipShowDelay]="showTooltipDelay"
            >
                <mat-icon>help</mat-icon>
            </button>
        </div>
    </mat-tab>

    <mat-tab label="save">
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">download</mat-icon>
            Save
        </ng-template>

        <!-- Buttons for tab "Save" -->
        <div class="button-container">
            <!-- Export as json -->
            <button
                mat-stroked-button
                class="text-button"
                (click)="exportJsonDataService.exportAsJson()"
                matTooltip="Export current net as a JSON file."
                [matTooltipShowDelay]="showTooltipDelay"
            >
                JSON
            </button>

            <!-- Export as pnml -->
            <button
                mat-stroked-button
                class="text-button"
                (click)="pnmlService.writePNML()"
                matTooltip="Export current net as a PNML file."
                [matTooltipShowDelay]="showTooltipDelay"
            >
                PNML
            </button>

            <!-- Divider -->
            <div class="divider"></div>

            <!-- Export as png -->
            <button
                mat-stroked-button
                class="text-button"
                (click)="
                    exportImageService.exportAsImage(
                        'image/png',
                        'pngExport.png'
                    )
                "
                matTooltip="Save current view as a PNG image."
                [matTooltipShowDelay]="showTooltipDelay"
            >
                PNG
            </button>

            <!-- Export as svg -->
            <button
                mat-stroked-button
                class="text-button"
                (click)="exportSvgService.exportAsSvg()"
                matTooltip="Save current view as an SVG image."
                [matTooltipShowDelay]="showTooltipDelay"
            >
                SVG
            </button>
        </div>

        <div class="button-container float-right">
            <button
                mat-icon-button
                (click)="openHelpDialog()"
                matTooltip="Show help page for 'Save' mode"
                [matTooltipShowDelay]="showTooltipDelay"
            >
                <mat-icon>help</mat-icon>
            </button>
        </div>
    </mat-tab>

    <mat-tab label="code">
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">data_object</mat-icon>
            Code
        </ng-template>

        <!-- Buttons for tab "Code" -->
        <div class="button-container">
            <!-- Reset button -->
            <button
                mat-icon-button
                matTooltip="Reload editor with code from current visible net."
                [matTooltipShowDelay]="showTooltipDelay"
                (click)="
                    uiService.codeEditorFormat$.next(
                        uiService.codeEditorFormat$.value
                    )
                "
            >
                <mat-icon>restart_alt</mat-icon>
            </button>

            <!-- Apply button -->
            <button
                mat-icon-button
                matTooltip="Apply editor code to replace current visible net."
                [matTooltipShowDelay]="showTooltipDelay"
                (click)="buttonClicked(ButtonState.ApplyCode)"
            >
                <mat-icon>task</mat-icon>
            </button>
        </div>

        <div class="button-container float-right">
            <!-- Switch code editor to json format -->
            <button
                mat-stroked-button
                class="text-button"
                [color]="
                    uiService.codeEditorFormat$.value === CodeEditorFormat.JSON
                        ? 'primary'
                        : ''
                "
                (click)="switchCodeEditorFormat(CodeEditorFormat.JSON)"
                matTooltip="Switch editor to JSON format. Unapplied changes lost."
                [matTooltipShowDelay]="showTooltipDelay"
            >
                JSON
            </button>

            <!-- Switch code editor to pnml format -->
            <button
                mat-stroked-button
                class="text-button"
                [color]="
                    uiService.codeEditorFormat$.value === CodeEditorFormat.PNML
                        ? 'primary'
                        : ''
                "
                (click)="switchCodeEditorFormat(CodeEditorFormat.PNML)"
                matTooltip="Switch editor to PNML format. Unapplied changes lost."
                [matTooltipShowDelay]="showTooltipDelay"
            >
                PNML
            </button>

            <button
                mat-icon-button
                (click)="openHelpDialog()"
                matTooltip="Show help page for 'Code' mode"
                [matTooltipShowDelay]="showTooltipDelay"
            >
                <mat-icon>help</mat-icon>
            </button>
        </div>
    </mat-tab>

    <mat-tab label="offshore">
        <ng-template mat-tab-label>
            <mat-icon matTooltip="Offshore Scheduling" [matTooltipShowDelay]="showTooltipDelay">wind_power</mat-icon>
            Offshore
        </ng-template>
    </mat-tab>

</mat-tab-group>
