.button-container {
    display: inline-flex;
    height: 50px;
}

.float-right {
    float: right;
}

.divider {
    border-right: 2px solid grey;
    height: 30px;
    margin: auto 10px;
}

.text-button {
    margin: auto 5px;
}
