<div class="code-container">
    <!-- textarea for displaying and editing the source code -->
    <mat-form-field class="code-form-field">
        <mat-label>Source code</mat-label>
        <textarea
            [formControl]="textareaControl"
            matInput
            class="code-textarea"
        ></textarea>
        <mat-error
            *ngFor="let errorMessage of textareaControl.errors | objectEntries"
        >
            {{ errorMessage }}
        </mat-error>
    </mat-form-field>
</div>
