<div fxLayout="row" fxLayoutAlign="space-between center" class="header-area">
    <h1 mat-dialog-title class="help-title">
        Help: {{ TabState[uiService.tab] }}
    </h1>

    <button mat-dialog-close mat-icon-button class="close-button">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div mat-dialog-content>
    <!-- Infotext for Build Mode ****************************************** -->
    <ng-container *ngIf="uiService.tab === TabState.Build">
        <h2>Overview</h2>
        <p>In Build mode you can:</p>
        <ul>
            <li>Build a new petri net from scratch.</li>
            <li>Modify an existing petri net.</li>
            <li>
                Load a petri net from file with drag and drop into the canvas
                area (supported file formats: pnml, json).
            </li>
        </ul>
        <p>
            For most actions, you activate the appropriate action mode by
            selecting the corresponding button. While the mode is activated
            (button is highlighted in red) you can perform the actions belonging
            to this mode. A few buttons will directly perform the action
            ('Delete all' and layout buttons) or open a popup window ('Edit
            actions').
        </p>

        <div class="grid">
            <h2 class="grid-span-2">Blitz tool</h2>
            <mat-icon class="help-icon">bolt</mat-icon>
            <div>
                <p>If a place or transition is selected, an arc from the selected element is shown.</p>
                <p>Left-Click</p>
                    <ul>
                        <li>When no element is set, a place can be created by a click on the canvas.</li>
                        <li>When no element is set, a click on an existing place or transition sets the node as a starting point for the next action.</li>
                        <li>When an element is set, a click on an empty place in the canvas creates a new place or transition</li>
                        <li>When an element is set, a click on an existing node connects both nodes if possible.</li>
                    </ul>
                <p>Right-Click</p>
                <ul>
                    <li>The selected in the Blitz tool can be reset.</li>
                    <li>An existing arc or node can be deleted by clicking on it.</li>
                </ul>
                <p>Scrolling</p>
                <ul>
                    <li>By scrolling over an arc the amount of marks can be increased or decreased.</li>
                    <li>By scrolling over a transition, its label can be changed to the next or the previous action. When scrolling past the last element, the label will be empty.</li>
                </ul>
                <p>Mousewheel-Click</p>
                <ul>
                    <li>When no element is set, a transition can be created by a click on the canvas.</li>
                </ul>
            </div>

            <h2 class="grid-span-2">Add petri net elements</h2>

            <mat-icon class="help-icon">circle</mat-icon>
            <p>Place mode: Left-click in the canvas area to set a new place.</p>

            <mat-icon class="help-icon">square</mat-icon>
            <p>
                Transition mode: Left-click in the canvas area to set a new
                transition.
            </p>

            <mat-icon class="help-icon">north_east</mat-icon>
            <div>
                <p>
                    Arc mode: To add a new arc from a start node (place or
                    transition) to a complementary end node (transition or
                    place)
                </p>
                <ul>
                    <li>
                        left-click on the start node and keep the mouse button
                        pressed down, then
                    </li>
                    <li>drag the arraow into the end node and</li>
                    <li>release the mouse to finalize the arc.</li>
                </ul>
                <p>
                    To abort an ongoing arc drawing, just release the mouse
                    button anywhere in the empty area of the canvas.
                </p>
            </div>

            <mat-icon class="help-icon">linear_scale</mat-icon>
            <div>
                <p>Anchor mode: To add a new anchor point to an arc</p>
                <ul>
                    <li>
                        left-click on the arc and hold the mouse button pressed
                        down &rAarr; the application temporarily switches into
                        'Move' mode,
                    </li>
                    <li>drag the anchor point to its desired position and</li>
                    <li>release the mouse button to set the anchor point.</li>
                </ul>
            </div>

            <h2 class="grid-span-2">Tokens and weights</h2>

            <mat-icon class="help-icon">add</mat-icon>
            <div>
                <p>
                    Increase mode: In increase mode, you can increase the token
                    number of a place or the weight of an arc.
                </p>
                <p>To increase the token number of a place</p>
                <ul>
                    <li>left-click on the place or</li>
                    <li>
                        hover over the place and scroll-up with the mouse wheel.
                    </li>
                </ul>
                <p>To increase the weight of an arc</p>
                <ul>
                    <li>left-click on the arc or</li>
                    <li>
                        hover over the arc and scroll-up with the mouse wheel.
                    </li>
                </ul>
            </div>

            <mat-icon class="help-icon">remove</mat-icon>
            <div>
                <p>
                    Decrease mode: In decrease mode, you can decrease the token
                    number of a place or the weight of an arc.
                </p>
                <p>To decrease the token number of a place</p>
                <ul>
                    <li>left-click on the place or</li>
                    <li>
                        hover over the place and scroll-down with the mouse
                        wheel.
                    </li>
                </ul>
                <p>To decrease the weight of an arc</p>
                <ul>
                    <li>left-click on the arc or</li>
                    <li>
                        hover over the arc and scroll-down with the mouse wheel.
                    </li>
                </ul>
                <p>
                    Note that the minimum value for both tokens of a place and
                    weights of an arc is 1. Further reduction below this value
                    is not possible.
                </p>
            </div>

            <h2 class="grid-span-2">Delete</h2>

            <mat-icon class="help-icon">delete</mat-icon>
            <p>
                Delete mode: Left-click any individual element (place,
                transition, anchor or arc) to delete it.
            </p>

            <mat-icon class="help-icon">clear</mat-icon>
            <p>
                Clear mode: Click the button to delete the whole petri net. A
                popup will ask you to confirm your delete action in order to
                prevent unintentional data loss.
            </p>

            <h2 class="grid-span-2">Move</h2>

            <mat-icon class="help-icon">open_with</mat-icon>
            <div>
                <p>
                    Move mode: In move mode, you can move individual elements or
                    the complete petri net at once.
                </p>
                <p>
                    All elements, that can be moved individually (places,
                    transitions or anchor points), are highlighted with a red
                    dropshadow. To move an individual element
                </p>
                <ul>
                    <li>
                        left-click on the element and keep the mouse button
                        pressed down,
                    </li>
                    <li>drag the element to its new position and</li>
                    <li>
                        release the mouse button to place the element at the new
                        location.
                    </li>
                </ul>
                <p>To move the complete petri net at once</p>
                <ul>
                    <li>
                        left-click anywhere on an empty spot on the canvas and
                        keep the mouse button pressed down (the whole petri net
                        will light up),
                    </li>
                    <li>drag the mouse to move the petri net and</li>
                    <li>
                        release the mouse button to place the petri net at its
                        new position.
                    </li>
                </ul>
            </div>

            <h2 class="grid-span-2">Actions</h2>
            <mat-icon class="help-icon">ads_click</mat-icon>
            <p>TODO: add description.</p>

            <mat-icon class="help-icon">edit_note</mat-icon>
            <p>TODO: add description.</p>
        </div>
        <div class="grid">
            <h2 class="grid-span-2">Layout</h2>
            <button mat-stroked-button class="help-text-button">
                Spring Embedder
            </button>
            <p>
                Apply automatic layout to the petri net with a Spring Embedder
                algorithm. Orphan nodes will stay in their original position
            </p>

            <button mat-stroked-button class="help-text-button">
                Sugiyama
            </button>
            <div>
                <p>
                    Apply automatic layered graph layout to the petri net with a
                    Sugiyama algorithm. Orphan nodes will be placed in the first
                    column of the new layout.
                </p>
                <p>
                    The implementation of the Sugiyama algorithm in this
                    application uses the following steps and algorithms:
                </p>
                <ul>
                    <li>
                        Circles in the graph are removed through a Depth-First
                        Search (DFS) algorithm.
                    </li>
                    <li>
                        Each individual node is then assigned to a layer by an
                        implementation of the Longest Path Algorithm proposed by
                        Tamassia et al. [R. Tamassia, Handbook of Graph Drawing
                        and Visualization, 2010].
                    </li>
                    <li>
                        The nodes are then ordered to minimize arc crossings
                        using the median ordering method with transpose as
                        proposed by Ganser et al. [E. Gansner, E. Koutsofios, S.
                        North, and K.-P. Vo, A technique for drawing directed
                        graphs, 1993].
                    </li>
                    <li>
                        Finally, new coordinates are assigned to each node
                        through a basic algorithm that places the node layers in
                        even distances to each other.
                    </li>
                </ul>
            </div>
        </div>
    </ng-container>

    <!-- Infotext for Play Mode ******************************************* -->
    <ng-container *ngIf="uiService.tab === TabState.Play">
        <h2>Token game</h2>

        <p>In Play mode, you can:</p>
        <ul>
            <li>
                Fire transitions to see how the tokens progress through the
                petri net.
            </li>
            <li>Reset the token game to the initial marking.</li>
            <li>Go back on step if you clicked the wrong transition.</li>
        </ul>

        <div class="grid">
            <h2 class="grid-span-2">Firing transitions</h2>
            <p class="grid-span-2">
                To fire a transition, just click one of the highlighted, green,
                transitions.
            </p>

            <h2 class="grid-span-2">Undo & Reset</h2>
            <mat-icon class="help-icon">restart_alt</mat-icon>
            <p>
                Reset token game: Reset petri net marking to its initial state
                at the beginning of the token game.
            </p>

            <mat-icon class="help-icon">fast_rewind</mat-icon>
            <p>
                Step back: Set the petri net marking one step back to the state
                before the last transition firing. Can be applied multiple times
                until you reach the start state of the token game.
            </p>
        </div>
    </ng-container>

    <!-- Infotext for Save Mode ******************************************* -->
    <ng-container *ngIf="uiService.tab === TabState.Save">
        <div class="grid">
            <h2 class="grid-span-2">Save petri net as data file</h2>

            <button mat-stroked-button class="help-text-button">JSON</button>
            <p>Save petri net data in JSON format.</p>

            <button mat-stroked-button class="help-text-button">PNML</button>
            <p>
                Save petri net data in PNML (Petri Net Meta Language) format (<a
                    href="https://www.pnml.org/"
                    target="_blank"
                    >PNML.org</a
                >). The format is based on XML.
            </p>

            <h2 class="grid-span-2">Save petri net as image</h2>

            <button mat-stroked-button class="help-text-button">PNG</button>
            <p>Save in PNG (Portable Network Graphics) raster format.</p>

            <button mat-stroked-button class="help-text-button">SVG</button>
            <p>Save in SVG (Scalable Vector Graphics) vector format.</p>
        </div>
    </ng-container>

    <!-- Infotext for Code Tab ******************************************** -->
    <ng-container *ngIf="uiService.tab === TabState.Code">
        <div class="grid">
            <h2 class="grid-span-2">Code editor actions</h2>

            <mat-icon class="help-icon">restart_alt</mat-icon>
            <p>TODO: add description.</p>

            <mat-icon class="help-icon">task</mat-icon>
            <p>TODO: add description.</p>

            <h2 class="grid-span-2">Supported formats</h2>

            <button mat-stroked-button class="help-text-button">JSON</button>
            <p>Disply source code in JSON format.</p>

            <button mat-stroked-button class="help-text-button">PNML</button>
            <p>Disply source code in PNML format.</p>
        </div>
    </ng-container>

    <!-- Context Help for Analyze Mode ************************************ -->
    <ng-container *ngIf="uiService.tab === TabState.Analyze">
        <p>Content for Analyze Mode Help</p>
    </ng-container>
</div>
