<div class="layout-switch" fxLayout="column" fxLayoutAlign="end start">
    <p>Apply layout algorithm:</p>

    <div class="button-container">
        <!-- apply spring embedder layout (once) -->
        <button
            mat-stroked-button
            class="text-button"
            (click)="applyLayout('spring-embedder')"
            matTooltip="Apply spring embedder layout to current petrinet"
            [matTooltipShowDelay]="showTooltipDelay"
        >
            Spring Embedder
        </button>

        <!-- apply sugyiama layout (once) -->
        <button
            mat-stroked-button
            class="text-button"
            (click)="applyLayout('sugyiama')"
            matTooltip="Apply sugyiama layout to current petrinet"
            [matTooltipShowDelay]="showTooltipDelay"
        >
            Sugyiama
        </button>
    </div>
</div>
