.import-hint {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    opacity: 0.5;
    z-index: 0;
    pointer-events: none;
}

.import-hint p {
    margin-left: 2rem;
    margin-right: 2rem;
}

.canvas {
    width: 100%;
    height: 70vh;
    border-style: dotted;
    border-color: lightgrey;
    transition: background-color 1s;
    user-select: none;
    box-sizing: border-box; /* make border be part of the 100% width */
}

.place {
    fill: white;
    stroke: black;
    stroke-width: 2;
}

/* .place:hover {
    stroke: orange;
} */

.transition {
    fill: white;
    stroke: black;
    stroke-width: 2;
}

.transition.silent {
    fill: black;
}

/* .transition:hover {
    stroke: orange;
} */

.arc {
    fill: none;
    stroke: black;
    stroke-width: 2;
}

/* .arc:hover,
.background-arc:hover + .arc {
    stroke: orange;
} */

.background-arc {
    fill: none;
    stroke: transparent;
    opacity: 0;
    stroke-width: 10 !important;
}

.place-id {
    fill: black;
}

.token-label {
    fill: black;
}

.tansition-id {
    fill: grey;
}

.arc-weight {
    fill: black;
}

.arc-weight-background {
    fill: white;
    transition: fill 1s;
}

/**** PLAY MODE  ****/
/*
 * Adjusted styles for play mode
 * these take effect once the drawing area svg
 * has the play-mode class
 */
.canvas.play-mode {
    background-color: #c0bfbc;
}

.play-mode .arc-weight-background {
    fill: #c0bfbc;
}
.play-mode .transition.active {
    cursor: pointer;
    fill: green;
}

.play-mode .transition.active:hover {
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 1));
}

/* Text nodes that follow transitions (here: rects within svg) should not have different cursors in play mode
 * all interaction events should be caught in the wrapper group element */
.play-mode .transition.active ~ text {
    cursor: pointer;
}

/* Styles for 'move' and 'anchor' mode */
.canvas.move-mode:hover {
    /* transition: box-shadow 0.2s; */
    cursor: pointer;
}

/* set box shadow on canvas, but only if:
 * - the canvas an no child element is hovered
 * - the canvas is not currently being dragged
 */
/* .canvas.move-mode:hover:not(:has(.editable:hover)):not(.dragging) {
    box-shadow: inset 0 0 3px 5px rgba(255, 0, 0, 0.2);
} */

.canvas.move-mode.dragging {
    cursor: grabbing;
    /* box-shadow: inset 0 0 3px 5px rgba(255, 0, 0, 0.8); */
}

.anchor {
    fill: black;
    stroke: black;
    stroke-width: 0px;
}

.line-segment {
    stroke: transparent;
    stroke-width: 10;
}

.editable {
    filter: drop-shadow(0 0 3px rgba(255, 0, 0, 1));
}

.editable:active,
.anchor.active,
.canvas.move-mode.dragging .place,
.canvas.move-mode.dragging .transition,
.canvas.move-mode.dragging .arc,
.canvas.move-mode.dragging .anchor {
    stroke: red;
    stroke-width: 2;
}

.move-mode .editable:active {
    cursor: grabbing;
}

.no-pointer-events {
    pointer-events: none;
}

.background-arc.editable:hover {
    cursor: pointer;
}

/* Add hover effect
 * In general elements should show the "hover"-Style only when they are currently being editable,
 * and the user is doing a mouseover/hover on the element:
 * - Elements with class ".editable" oder ".line-segment" that are currently being hovered
 * - Elements with class ".anchor" that also have the ".active" class set
 * - Elements with class ".arc" AND ".editable", that are direct children of the ".arc-group"-Element currently being hovered. This is
 *   needed to be able to highlight the main arcs when line-segments are hovered, as those cannot get a drop shadow since they have no stroke color.
 */
.editable:hover,
.line-segment:hover,
.anchor.active,
.arc-group:hover > .arc.editable {
    cursor: pointer;
    /* stronger drop shadow to visible highlight the hovered element */
    filter: drop-shadow(0 0 2px rgba(255, 0, 0, 1))
        drop-shadow(0 0 3px rgba(255, 0, 0, 1));
}

.tab-transitioning .transition {
    transition: fill 1s;
}

text.label {
    text-anchor: middle;
    dominant-baseline: central;
    font-size: 15px;
}
