.canvas {
    width: 100%;
    height: 70vh;
    border-style: dotted;
    border-color: lightgrey;
    transition: background-color 1s;
}

.canvas.play-mode {
    background-color: #c0bfbc;
}

.place {
    fill: white;
    stroke: black;
    stroke-width: 2;
}

.transition {
    fill: grey;
    stroke: black;
    stroke-width: 2;
}

.transition.active{
    fill: green;
}


.arc {
    fill: none;
    stroke: black;
    stroke-width: 2;
}

.place-id{
    fill: black;
}

.token-label{
    fill: black;
}

.tansition-id{
    fill: grey;
}

.arc-weight{
    fill: black;
}

.arc-weight-background{
    fill: white;
    transition: fill 1s;
}

.arc-weight-background.play-mode {
    fill: #c0bfbc;
}

.anchor {
    fill:black;
    stroke: black;
    stroke-width: 0px;
}

.line-segment {
    stroke: transparent;
    stroke-width: 10;
}

.editable, .insertable {
    filter: drop-shadow(0 0 3px rgba(255, 0, 0, 1));
}

.editable:active, .anchor.active {
    stroke: red;
    stroke-width: 2;
}

.no-pointer-events {
    pointer-events: none;
}

.editable:hover, .anchor.active, .line-segment:hover {
    cursor: pointer;
}
