.red {
    color: red;
}

h1 {
    text-align: center;
    font-weight: 300;
    font-size: 30px;
    margin: 0;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

a.app-header {
    display: inline-block;
    max-width: fit-content;
    margin: 0 auto;
}

h2 {
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

hr {
    border-color: lightgray;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}

.petri-net {
    width: 100%;
    margin-right: 0px;
    transition: width 500ms;
}

.petri-net.active {
    width: 50%;
}

.code-editor {
    margin-left: 0px;
    transition:
        width 500ms,
        min-width 500ms,
        max-width 500ms;
    width: 0px;
    max-width: 0px;
    min-width: 0px;
    overflow: hidden;
}

.code-editor.active {
    margin-left: 20px;
    width: 50%;
    max-width: 50%;
    min-width: 50%;
}
