<app-header></app-header>

<app-button-bar></app-button-bar>

<div [ngSwitch]="uiService.tab">
    <app-offshore-view *ngSwitchCase="TabState.Offshore"></app-offshore-view>

    <div *ngSwitchDefault class="viewer-container-default">
        <div class="petri-net-container" fxLayout="row">
            <app-petri-net
                [ngClass]="{
                    'petri-net': true,
                    active: uiService.tab === TabState.Code
                }"
            ></app-petri-net>
            <app-code-editor
                [ngClass]="{
                    'code-editor': true,
                    active: uiService.tab === TabState.Code
                }"
            ></app-code-editor>
        </div>
    </div>
</div>

<hr />
<app-footer></app-footer>
