<div fxLayout="row" fxLayoutAlign="space-between center">
    <h2 mat-dialog-title>Manage Actions</h2>

    <button mat-dialog-close mat-icon-button class="close-button">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div mat-dialog-content>
    <mat-list>
        <!-- Create one list item and divider for each action in dataService.getActions() -->
        <div *ngFor="let action of dataService.getActions(); let last = last">
            <mat-list-item>
                <div
                    fxLayout="row"
                    fxLayoutAlign="space-between center"
                    class="action-list-row"
                >
                    <div *ngIf="!containsBreakChar(action)">
                        <span class="action-text">
                            {{ action }}
                        </span>
                    </div>

                    <div *ngIf="containsBreakChar(action)">
                        <span class="action-text">
                            {{ returnLine1(action) }}
                        </span>
                        <br />
                        <span class="action-text">
                            {{ returnLine2(action) }}
                        </span>
                    </div>

                    <!-- Only allow deleting an action that is not currently used as transition label -->
                    <div
                        matTooltip="Cannot delete used action labels."
                        [matTooltipDisabled]="
                            !dataService.checkActionUsed(action)
                        "
                        matTooltipPosition="right"
                    >
                        <button
                            [disabled]="dataService.checkActionUsed(action)"
                            mat-icon-button
                            (click)="dataService.removeAction(action)"
                        >
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-list-item>

            <!-- Only draw this divider if it's not the last element -->
            <mat-divider *ngIf="!last"></mat-divider>
        </div>
    </mat-list>
</div>
<div mat-dialog-content class="add-action-input">
    <mat-form-field>
        <mat-label>Action Line 1</mat-label>
        <input matInput #newActionInput1 type="text" placeholder="New Action" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Action Line 2 (optional)</mat-label>
        <input matInput #newActionInput2 type="text" placeholder="New Action" />
    </mat-form-field>
    <button
        mat-stroked-button
        matSuffix
        (click)="addAction(newActionInput1, newActionInput2)"
    >
        Add Action
    </button>
</div>

<!-- Only show this error message if the user tries submitting an empty action -->
<div class="action-error" *ngIf="bothActionsEmpty">
    <p>Actions cannot be empty.</p>
    <p>At least one Action has to be filled.</p>
</div>
<!-- Only show this error message if the user tries submitting an action that already exists -->
<div class="action-error" *ngIf="actionAlreadyExists">
    <p>Action already exists.</p>
    <p>Please enter another label.</p>
</div>
