.add-action-input {
    min-width: 400px;
    width: 100%;
    margin: 0 15px;
    display: grid;
}

.action-text {
    max-width: 50vw;
    overflow: scroll;
}

.close-button {
    margin: 15px;
}

.action-error {
    color: red;
    margin: 0 25px 20px 25px;
}
