<div fxLayout="row" fxLayoutAlign="space-between center">
    <h2 mat-dialog-title>Manage Actions</h2>

    <button mat-dialog-close mat-icon-button class="close-button">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div mat-dialog-content>
    <mat-list>
        <!-- create one list item and divider for each action in dataService.getActions() -->
        <div *ngFor="let action of dataService.getActions(); let last = last">
            <mat-list-item>
                <div
                    fxLayout="row"
                    fxLayoutAlign="space-between center"
                    class="action-list-row"
                >
                    <span class="action-text">
                        {{ action }}
                    </span>

                    <!-- only allow deleting an action that is not currently used as transition label -->
                    <div
                        matTooltip="Cannot delete actions that are set as labels"
                        [matTooltipDisabled]="
                            !dataService.checkActionUsed(action)
                        "
                        matTooltipPosition="right"
                    >
                        <button
                            [disabled]="dataService.checkActionUsed(action)"
                            mat-icon-button
                            (click)="dataService.removeAction(action)"
                        >
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-list-item>

            <!-- only draw this diver if it's not the last element -->
            <mat-divider *ngIf="!last"></mat-divider>
        </div>
    </mat-list>
</div>

<div mat-dialog-actions>
    <mat-form-field class="add-action-input">
        <mat-label>Action</mat-label>
        <input
            matInput
            #newActionInput
            type="text"
            placeholder="New Action"
            (keyup.enter)="addAction(newActionInput)"
        />
        <button mat-icon-button matSuffix (click)="addAction(newActionInput)">
            <mat-icon>add_task</mat-icon>
        </button>
    </mat-form-field>
</div>

<!-- only show this error message if the user tries submitting an empty action -->
<div
    class="action-error"
    *ngIf="
        (newActionInput.value.length > 0 || actionSubmittedOnce) &&
        isActionEmpty(newActionInput.value)
    "
>
    Action cannot be empty
</div>
