<div fxLayout="row" fxLayoutAlign="space-between center">
    <h2 mat-dialog-title>Set Label for {{ data.node.id }}</h2>

    <button mat-dialog-close mat-icon-button class="close-button">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div mat-dialog-actions>
    <mat-form-field class="set-action-select">
        <mat-label>Action</mat-label>
        <!-- The value is two way bound directly to the transitions label -->
        <mat-select [(value)]="data.node.label">
            <!-- Empty option at the top to be able to remove labels -->
            <mat-option> - </mat-option>
            <!-- All other actions -->
            <mat-option
                *ngFor="let action of dataService.getActions()"
                [value]="action"
            >
                {{ replaceBreakChar(action) }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
