@import '@angular/material/theming';

@include mat-core();

$tr-primary: mat-palette($mat-red);
$tr-accent: mat-palette($mat-amber);

$tr-theme: mat-light-theme($tr-primary, $tr-accent);

@include angular-material-theme($tr-theme);