<div fxLayout="row" fxLayoutAlign="space-between center">
    <h2 mat-dialog-title *ngIf="!placeInvariantsService.isMinimal">{{placeInvariantsService.placeInvariantsMatrix.length}} Place Invariants (Farkas)</h2>
    <h2 mat-dialog-title *ngIf="placeInvariantsService.isMinimal">{{placeInvariantsService.placeInvariantsMatrix.length}} Minimal Place Invariants</h2>

    <button mat-dialog-close mat-icon-button class="close-button">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div mat-dialog-content>
    <table>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th *ngFor="let placeId of placeInvariantsService.placeIds">{{ placeId }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of placeInvariantsService.placeInvariantsMatrix; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td *ngFor="let cell of row">{{ cell }}</td>
            </tr>
        </tbody>
    </table>
</div>

