<div fxLayout="row" fxLayoutAlign="space-between center">
    <h2 mat-dialog-title>
        {{
            placeInvariantsService.placeInvariantsMatrix.length +
            (
                placeInvariantsService.isMinimal ?
                ' Minimal Place Invariants' :
                ' Place Invariants (Farkas)'
            )
        }}

    </h2>

    <button mat-dialog-close mat-icon-button class="close-button">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div mat-dialog-content>
    <table>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th *ngFor="let placeId of placeInvariantsService.placeIds">{{ placeId }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="
                    let row of placeInvariantsService.placeInvariantsMatrix;
                    let i = index
                "
                [ngClass]="{
                    'selected-row': placeInvariantsService.selectedPIs[i]
                }"
            >
                <th scope="row">{{ i + 1 }}</th>
                <td *ngFor="let coefficient of row"
                    (click)="placeInvariantsService.toggleSelectedPI(i)"
                >
                    {{ coefficient }}
                </td>
            </tr>
        </tbody>
    </table>
</div>

